assessmentItem{
	font-family: _sans;
	font-size: 12px;
	color: #000000;
 	text-align:left;
	leading: 2px; 	
	}
itemBody{
	background-color: #ffffff;
	background-style: solid;
	background-alpha: 1;
	
	mark-correct-color: #00cc00;
    mark-errors-color: #ff0000;
    mark-correct-width: 2;
    mark-errors-width: 2;
	}
simpleText{
	leading:2px;
}
tooltip {
	align: center;
	text-align: center;
	color: #666666;
	border-style: solid;
	border-color: #666666;
	border-weight: 1px;
	background-style: solid;
	background-color: #ffffff;
	shadow-style: solid;
	shadow-depth: 2;
	shadow-alpha: 0.2;
}


	
/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ======= media players ======= */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */


moviePlayer {
	interface: url(moviePlayer.utp);
	interface-fullscreen: url(moviePlayer_f.utp);
} 

soundPlayer {
	interface: url(audioPlayer.utp);
}

slideShowPlayer {
	interface: url(slideshowPlayer.utp);
	interface-fullscreen: url(slideshowPlayer_f.utp);
} 
imagePlayer {
	interface: url(imagePlayer.utp);
	interface-fullscreen: url(imagePlayer_f.utp);
}
.apicture{
	interface: url(imagePlayer_activity.utp);
}
simulationPlayer {
	interface: url(simulationPlayer.utp);
}

.noaudio {
	interface: url(slideshow_noaudioPlayer.utp);
	interface-fullscreen: url(slideshow_noaudioPlayer_f.utp);	
	}


#downloadProgress {
        background-style: none;
        background-color: #cc0000;
        border-style: none;
        height: 4;
/*		width: 100;  */
}

#downloadProgress:bar {
        background-style: solid;
        background-color: #75BCF7;
        border-style: none;
}
#playProgress:button {
        src: url(slider_icon.swf);
}

#playProgress:progress {
        background-style: none;
        background-color: white;
		background-alpha: 1;        
        border-style: none;
        height: 4px;
/*        width: 88; */
}
#playProgress:progress:bar {
        background-style: solid;
        background-color: ##78CF48;
        background-alpha: 1;
        border-style: none;
}

#volume:button {
        src: url(slider_icon.swf);
}

#volume:progress {
        background-style: none;
        background-color: white;
		background-alpha: 1;        
        border-style: none;
        height: 4px;
/*        width: 88; */
}
#volume:progress:bar {
        background-style: solid;
        background-color: #75BCF7;
        background-alpha: 1;
        border-style: none;
}
#totalTime {
	letter-spacing: 0;
	padding-top: -1;
	padding-left:3px;
}
#playTime {
	letter-spacing: 0;
	padding-left:3px;
}
/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ======== illustration ======= */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
/*image{
	border-style: solid;
	border-thickness: 1px;
	border-color: #1D6396;
	padding-left: 2px; 
	padding-right: 2px; 
	padding-top: 2px; 
	padding-bottom: 2px; 
}*/

/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ===== jigsaw (ordering) ===== */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
orderInteraction {
	alignWidths: true;
	alignHeights: true;
	orientation: vertical;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 9px;
	padding-bottom: 8px;
	

} 
.horizontal {
	orientation: horizontal;
	}

simpleOrderChoice {
	text-align: center;
	border-style: none;
	background-style: solid;
	background-color: #75BCF7;
	color: #000000;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 2px;
	margin-bottom:2px;
	margin-right:2px;
	
	shadow-style: solid;
	shadow-depth: 2;
	shadow-alpha: 0.1; 
}
simpleOrderChoice:over {
	background-style: solid;
	background-color: #3667BD;
	color: #ffffff;
}
simpleOrderChoice:drag {
	background-style: solid;
	background-color: #3667BD;
	color: #ffffff;	
}
.horizontal.simpleOrderChoice:over {
	background-style: solid;
	background-color: #005500;
	color: #ff0000;
}
imageOrderChoice {
	text-align: center;
	border-style: none;
	background-style: solid;
	background-color: #75BCF7;
	color: #000000;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom:2px;
	margin-right:2px;
	
	shadow-style: solid;
	shadow-depth: 2;
	shadow-alpha: 0.1; 
}
imageOrderChoice:over {
	background-style: solid;
	background-color: #3667BD;
}
imageOrderChoice:drag {
	background-style: solid;
	background-color: #3667BD;
}
imageOrderChoice:alphaBackground:over {
	zPosition: above;
	background-style: solid;
	background-color: #3664BD;
	background-alpha: 0.4;
	margin-bottom:1px;
	margin-right:1px;
	}
imageOrderChoice:alphaBackground:drag {
	zPosition: above;
	background-style: solid;
	background-color: #3664BD;
	background-alpha: 0.4;
	margin-bottom:1px;
	margin-right:1px;	
	}


/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ========== choice  ========== */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
choiceInteraction{
	verticalGap: 0px;
	padding-top: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	padding-right: 0px; 
 
	alignWidths: fill;
}
simpleChoice:button{
	src: url(choice_icon.swf);
}
simpleChoice:button.multiple{
	src: url(mchoice_icon.swf);
}
simpleChoice:first-child{	
	padding-top: 4px;
}
simpleChoice:last-child{
	padding-bottom: 4px;
	border-bottom-style: none;
	}
simpleChoice{
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: solid;		
	border-width: 1px;
	border-color: #e5e7ed;
	
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	
	button-valign: center;
	button-halign: left;
	
	clip-content: false;
}

simpleChoice:content{
	padding-left:12px;
	}
	
imageChoice:first-child{	
	padding-top: 4px;
}
imageChoice:last-child{
	padding-bottom: 4px;
	border-bottom-style: none;
	}

imageChoice{
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: solid;		
	border-width: 1px;
	border-color: #e5e7ed;
	
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	
	image-align: right;
	buttonValign: center;
}
imageChoice:content{
	interface-fullscreen: url(imagePlayer_f.utp);
	border-style: solid;
	border-thickness: 1px;
	border-color: #75BCF7;
	background-style: solid;
	background-color: #75BCF7;
	margin-left: 15px;
}
imageChoice:button{
	src: url(choice_icon.swf);
}
imageChoice:button.multiple{
	src: url(mchoice_icon.swf);
}
/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ======== selection ========== */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
matchChoiceInteraction	{
 	text-align: center;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 9px;
	padding-bottom: 4px;

 	categories-spacing: 10px;
	categories-position: right;
	align-categories-widths: true;
	
	items-spacing: 11px;
	align-items-widths: true;
	align-items-heights: false;
}
simpleMatchItem {
 	border-style: none;
 	text-align: right;
 }	
simpleMatchCategory:button {
	src: url(choice_icon.swf);
}
simpleMatchCategory:button.multiple{
	src: url(mchoice_icon.swf);
}
imageMatchItem:content{
	interface-fullscreen: url(imagePlayer_f.utp);
}
imageMatchItem{
    border-style: solid;
	margin-left: 15px;
    
	border-thickness: 1px;
	border-color: #75BCF7;
	background-style: solid;
	background-color: #75BCF7; 
 }
imageMatchCategory:button {
	src: url(choice_icon.swf);
}
imageMatchCategory:button.multiple{
	src: url(mchoice_icon.swf);
}
/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ======== connection ========= */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */

matchInteraction {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 25px;
	padding-right: 25px;

	border-style:none;
	border-weight:1px;
	border-color:red;

	lineThickness: 1;
	lineColor: #3667BD;
	lineAlpha: 1;
	wrongLineColor: #ff0000;
	correctLineColor: #00c000;
	overLineColor: #75BCF7;
	horizontalGap: 30px;
	verticalGap: 7px;
}
simpleAssociableChoice:button {
	src: url(connection_icon.swf);
}
/*
simpleAssociableChoice:first-child{	
	padding-top: 4px;
	border-style: solid;
	border-color: #ff0000;
}
simpleAssociableChoice:last-child{
	padding-bottom: 4px;
	border-style: solid;
	border-color: #00ff00;
	}
*/
simpleAssociableChoice:content.$set1{
    border-style: none;
    border-weight: 1px;
    padding-left:0;
    padding-right:0;
    margin-right: 7px;
    
}
simpleAssociableChoice:content.$set2{
    border-style: none;
    border-weight: 1px;
    margin-left: 10px;
}

imageAssociableChoice {
    buttonValign: center;
	padding-top: 2px;     
	padding-bottom: 2px;
}

imageAssociableChoice:content{
	interface-fullscreen: url(imagePlayer_f.utp);
}
imageAssociableChoice:button {
	border-style: none;
	border-color: #000000;
	src: url(connection_icon.swf);
}

imageAssociableChoice:content.$set1 {
    border-style: solid;
    margin-right: 12px;
    
	border-thickness: 1px;
	border-color: #75BCF7;
	background-style: solid;
	background-color: #75BCF7;
}
imageAssociableChoice:content.$set2 {
    margin-left: 12px;
    
	border-style: solid;
	border-thickness: 1px;
	border-color: #75BCF7;
	background-style: solid;
	background-color: #75BCF7;
	
}

/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ====== pages switcher ======= */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
pagesSwitchBox{
	horizontalGap: 1px;
	verticalGap: 0px;
}
pagesSwitchBox:button{
	labelValign: center;
	labelHalign: center;
	src: url(pagenumber_icon.swf);
}
pagesSwitchBox:button:label{
	font-size: 15px;
	text-align: center;
	text-valign: bottom;
	color: #5773AC;
	font-weight: bold;
 	letter-spacing:0;
 	leading: 0; 
}
pagesSwitchBox:button:label:over{
	color: #5773AC;
}
pagesSwitchBox:button:label:press{
	color: #5773AC;
}
pagesSwitchBox:button:label:disabled{
	color: #ffffff;
}

#currentPageTitle {
	font-size:116%;
	content: $[currentItemTitle];
}
#testTitle {
	font-size:166%;
	content: $[testTitle];
}
nextItemNavigation{
	labelValign: center;
	labelHalign: center;
	src: url(pagenext_icon.swf);
}
prevItemNavigation{
	labelValign: center;
	labelHalign: center;
	src: url(pageprevious_icon.swf);
}
/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* === test buttons & tooltip === */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
markCorrectButton{
	src: url(markcorrect_icon.swf);
	tooltip-text: Mark correct;	
}
resetButton{
	src: url(reset_icon.swf);
	tooltip-text: Reset;
}
showAnswersButton{
	src: url(showanswers_icon.swf);
	tooltip-text: Show answers;
}
#fullscreen{
	tooltip-text: full screen;
}
#close_popup {
	tooltip-text: Close;
}
#playPause {
	tooltip-text: Play/Pause;
}
#stop {
	tooltip-text: Stop;
}
#mute {
	tooltip-text: Mute;
}
#previousSlide {
	tooltip-text: Previous;
}
#nextSlide {
	tooltip-text: Next;
}
resultProgress{
	src: url(activity_progress.swf);
}

/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ========= text type ========= */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */

/* -> dummy.skins

/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ============ gaps =========== */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
/*>>> cały moduł tekstowy */
textInteraction {
	padding-left: 22px;
	padding-right: 22px;	
	padding-top: 17px;
	padding-bottom: 15px;
}
/*>>> gapa editable */
/*
textEntryInteraction {
	border-style: solid;
	border-thickness: 1px;
	border-color: #3667BD;
	background-style: solid;
	background-color: #ffffff;
}
*/
/*>>> gapa dla sourcelisty */
imageEntryInteraction {
	border-style: none;
	background-style: solid;
	background-color: #E5E7ED;
}
imageEntryInteraction:dragOver {
	border-style: none;
}

/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ========= sourcelist ======== */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
/*>>> cały obszar sourcelisty*/
sourceList{
	background-style: none; 
	background-color: #75BCF7; 
	orientation: horizontal;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 13px;
	align-widths: true;
	align-heights: true; 
	itemSpacing: 2px;

}
/*>>> element sourcelisty*/
simpleSourceListItem {
	border-style: none;
	background-style: solid;
	background-color: #75BCF7;
	text-align: center;

	padding-right: 2px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom:2px;
	
	shadow-style: solid;
	shadow-depth: 2;
	shadow-alpha: 0.1; 
	 	
}
simpleSourceListItem:over {
	background-style: solid;
	background-color: #3667BD;
	color: #ffffff;
}
simpleSourceListItem:drag {
	background-style: solid;
	background-color: #3667BD;
	color: #ffffff;
}
/*>>> element obrazkowy sourcelisty */	
imageSourceListItem {
	background-style: solid;
	background-color: #75BCF7;
	padding-right: 1px;
	padding-left: 1px;
/*	padding-top: 1px;
	padding-bottom:1px; */
	text-align: center;
	
	shadow-style: solid;
	shadow-depth: 2;
	shadow-alpha: 0.1; 
}
imageSourceListItem:over {
	background-style: solid;
	background-color: #3667BD;
}

/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ========== dropdown ========= */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
inlineChoiceInteraction{
	border-style: solid;
	border-thickness: 1px;
	border-color: #E2E4EB;
	background-style: solid;
	background-color: #E2E4EB;
	text-align:center;
}
inlineChoiceInteraction:list {
	border-style: solid;
	border-thickness: 1px;
	border-color: #ffffff;
	background-style: solid;
	background-color: #E2E4EB;
}
inlineChoice:over {
	border-style: none;
	background-style: solid;
	background-color: #3667BD;
	color: #ffffff;
}
inlineChoiceInteraction:button {
	src: url(dropdown_icon.swf);
}
/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* =========== tabele ========== */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
tableInteraction{
        background-style: none;
        background-color: #dddddd;
        background-alpha: 1;
        border-style: none;
        border-color: #00ff00;
        border-thickness:1px;
        padding-top: 10px;
        padding-bottom: 10px;
        
		columnClasses: col1;
		columnClassRotation: norepeat;

		rowClasses: row1;
		rowClassRotation: norepeat;
        
        decorationPriority: row,cell,column;
}
col {
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: none;      

        background-style: none;
}
tr {
		border-left-style: none;
		border-right-style: solid;
		border-top-style: none;
		border-bottom-style: none;
		border-color: #e5e7ed;      
 
        background-style: none;
}
td {
		align: justify;
		valign: top;
		border-left-style: solid;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: solid;      
        border-color: #e5e7ed;
        border-thickness: 1;
        border-alpha: 1;
        background-style: none;
        
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom:5px;
        
        text-align: center;
}

col.col1 {
        background-style: none;
        border-left-style: solid;
        border-top-style:none;
        border-right-style: none;
        border-bottom-style: none
        border-width: 1px;
        border-color: #e5e7ed;
}
tr.row1{
        border-left-style: none;
        border-top-style:solid;
        border-right-style: solid;
        border-bottom-style: none
        border-width: 1px;
        border-color: #e5e7ed;
}
/* ------------------------------- */
/* tabela z wyróżnionym 1 wierszem */
.row{

		rowClasses: row2;
		rowClassRotation: norepeat;
        
        decorationPriority: row,cell,column;
}
tr.row2{
		background-style: solid;
		background-color: #e5e7ed;
		background-alpha: 1;
		
        border-left-style: none;
        border-top-style:solid;
        border-right-style: solid;
        border-bottom-style: none
        border-width: 1px;
        border-color: #e5e7ed;
}
td.row2{
		border-left-style: solid;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-width:1;
		border-color: #ffffff;
}
simpleText.row2 {
		text-align: center;
}
/* ----------------------------- */
/* tabela z wyróżnioną 1 kolumną */
.column{

		columnClasses: col2;
		columnClassRotation: norepeat;
        
        decorationPriority: row,cell,column;
}
col.col2{
		background-style: solid;
		background-color: #e5e7ed;
		background-alpha: 1;
		
        border-left-style: solid;
        border-top-style:solid;
        border-right-style: none;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #e5e7ed;
}
td.col2{
		border-left-style: none;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: solid;
		border-width:1;
		border-color: #ffffff;
}
simpleText.col2 {
		text-align: right;
}
/* ----------------------------------------- */
/* tabela z wyróżnionym 1 wierszem i kolumną */
.rowcolumn{
		rowClasses: row3;
		rowClassRotation: norepeat;
		columnClasses: col3,col4;
		columnClassRotation: norepeat;
        
        decorationPriority: row,cell,column;
}
tr.row3{
		background-style: solid;
		background-color: #e5e7ed;
		background-alpha: 1;
		
        border-left-style: none;
        border-top-style:solid;
        border-right-style: solid;
        border-bottom-style: none
        border-width: 1px;
        border-color: #e5e7ed;
}
td.row3{
		border-left-style: solid;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none; 
		border-width:1;
		border-color: #ffffff;
}
col.col3{
		background-style: solid;
		background-color: #e5e7ed;
		background-alpha: 1;
		
        border-left-style: solid;
        border-top-style:solid;
        border-right-style: none;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #e5e7ed;
}
td.col3{
		border-left-style: none;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: solid;
		border-width:1;
		border-color: #ffffff;
}
td.col4{
		border-left-color: #ffffff;
}
simpleText.row3 {
		text-align: center;
}
simpleText.col3 {
		text-align: right;
}
/* ---###----------------------###--- */
/* ###### tabele dla ćwiczenia ###### */
/* -###--------------------------###- */
.atable{
        background-style: none;
        background-color: #dddddd;
        background-alpha: 1;
        border-style: none;
        border-color: #00ff00;
        border-thickness:1px;
        padding-top: 0px;
        padding-bottom: 1px;
        
      	rowClasses: acrow1;
      	columnClassRotation: norepeat;
      	
		columnClasses: acol1;
		columnClassRotation: norepeat;
   
        decorationPriority: row,cell,column;
}

atable.col {
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: solid;
		border-color: #ff0000;      

        background-style: solid;
        background-color: #550000;
}

tr.acrow1 {
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: solid;
		border-color: #e5e7ed;      
}

col.acol1 {
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: none;

        background-style: none;
}
td.acol1 {
		border-top-style: none;
		border-right-style: none;
		border-left-style: none;
}
/* ----------------------------------------- */
/* tabela ćwiczenia z wyróżnionym 1 wierszem */
.arow{

		padding-top: 0px;
		padding-bottom:1px;
		padding-left: 0px;
		padding-right: 0px;
		
		rowClasses: arow2,arow2_1;
		rowClassRotation: repeatlast;
        
        columnClasses: arcol2_1;
        columnClassRotation: norepeat;
        
        decorationPriority: row,cell,column;
}
tr.arow2{
		background-style: solid;
		background-color: #b2d9ff;
		background-alpha: 1;
		
        border-left-style: none;
        border-top-style:none;
        border-right-style: none;
        border-bottom-style: none;
}
td.arow2{
		border-left-style: solid;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-width:1;
		border-color: #ffffff;
}
tr.arow2_1{
		background-style: none;
		
        border-left-style: none;
        border-top-style:none;
        border-right-style: none;
        border-bottom-style: none;
}
col.arcol2_1{
		border-left-style:none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style:none;
}
td.arcol2_1{
		border-left-style:none;
}
simpleText.arow2 {
        text-align: center;
}
/* --------------------------------------- */
/* tabela ćwiczenia z wyróżnioną 1 kolumną */
.acolumn{
		padding-top:0;
		padding-bottom: 1;
		border-style: none;
		
		columnClasses: acol2,acol2_1;
		columnClassRotation: norepeat;
		
		rowClasses: acrow2_1;
		rowClassRotation: repeat;
        
        decorationPriority: row,cell,column;
}
col.acol2{
		background-style: solid;
		background-color: #b2d9ff;
		background-alpha: 1;
		
        border-left-style: none;
        border-top-style:solid;
        border-right-style: none;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #b2d9ff;
}
td.acol2{
		border-left-style: none;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: solid;
		border-width:1;
		border-color: #ffffff;
}
td.acol2_1{
		border-left-style: none;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: solid;
		border-width:1;
		border-color: #e5e7ed;
}
tr.acrow2_1{
		border-right-style:none;
		border-left-style: none;
}
simpleText.acol2 {
        text-align: right;
}
	
/* --------------------------------------------------- */
/* tabela ćwiczenia z wyróżnionym 1 wierszem i kolumną */
.arowcolumn{
		border-style:none;
		padding-top: 0;
		padding-bottom: 1;
		rowClasses: arow3,arow3_1;
		rowClassRotation: repeatlast;
		columnClasses: acol3,acol4;
		columnClassRotation: norepeat;
        
        decorationPriority: row,cell,column;
}
tr.arow3{
		background-style: solid;
		background-color: #b2d9ff;
		background-alpha: 1;
		
        border-left-style: none;
        border-top-style: solid;
        border-right-style: none;
        border-bottom-style: none;
        border-width: 1px;
        border-color: #b2d9ff;
}
td.arow3{
		border-left-style: solid;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none; 
		border-width:1;
		border-color: #ffffff;
}
tr.arow3_1{
		background-style: none;

        border-left-style: none;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-width: 1px;
        border-color: #b2d9ff;
}
col.acol3{
		background-style: solid;
		background-color: #b2d9ff;
		background-alpha: 1;
		
        border-left-style: none;
        border-top-style:solid;
        border-right-style: none;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #b2d9ff;
}
td.acol3{
		border-left-style: none;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: solid;
		border-width:1;
		border-color: #ffffff;
}
td.acol4{
		border-left-color: #ffffff;
}
simpleText.arow3 {
        text-align: center;
}
simpleText.acol3 {
        text-align: right;
}

/* ####################### */
/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ========== chart ============ */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */
tableInteraction.chart{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
        
		columnClasses: ch_col1;
		columnClassRotation: norepeat;

		rowClasses: ch_row1;
		rowClassRotation: norepeat;
        
        decorationPriority: row,cell,column;
}

td.chart {
		align: center;
		valign: top;
		border-left-style: solid;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: solid;      
        border-color: #e5e7ed;
        border-thickness: 1;
        border-alpha: 1;
        background-style: none;
        
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom:5px;
        
        text-align: center;
		}

col.ch_col1 {
        background-style: none;
        border-left-style: solid;
        border-top-style:none;
        border-right-style: none;
        border-bottom-style: none
        border-width: 1px;
        border-color: #e5e7ed;
}
tr.ch_row1{
        border-left-style: none;
        border-top-style:solid;
        border-right-style: solid;
        border-bottom-style: none
        border-width: 1px;
        border-color: #e5e7ed;
}

/* *** */
.chart01{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
        
        cellClass: chart_cell;
        
      	rowClasses: chart_row_empty,chart_row_line,chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col1;
		columnClassRotation: repeat;
 
        decorationPriority: row,cell,column;
}
.chart02{
        background-style:none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
         cellClass: chart_cell;
        
      	rowClasses: chart_row_empty,chart_row_empty,chart_row_line,chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col1;
		columnClassRotation: repeat;
 
        decorationPriority: row,cell,column;
}
.chart03{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
         cellClass: chart_cell;
        
      	rowClasses: chart_row_empty,chart_row_line,chart_row_empty,chart_row_empty,chart_row_empty,chart_row_empty,chart_row_line,chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col1;
		columnClassRotation: repeat;
 
        decorationPriority: row,cell,column;
}
.chart04{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
        cellClass: chart_cell;
        
      	rowClasses: chart_row_empty,chart_row_line1,chart_row_empty,chart_row_empty,chart_row_empty,chart_row_empty,chart_row_line,chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col_line1,chart_col1;
		columnClassRotation: repeatlast;
 
        decorationPriority: cell,row,column;
}
.chart05{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
        cellClass: chart_cell;
        
      	rowClasses: chart_row_empty, chart_row_line1, chart_row_empty, chart_row_line, chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col_line1,chart_col1;
		columnClassRotation: repeatlast;
 
        decorationPriority: cell,row,column;
}
.chart06{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
         cellClass: chart_cell;
        
      	rowClasses: chart_row_empty,chart_row_line, chart_row_empty,chart_row_empty,chart_row_empty,chart_row_empty,chart_row_line,chart_row_empty,chart_row_empty,chart_row_empty,chart_row_empty,chart_row_line,chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col1;
		columnClassRotation: repeat;
 
        decorationPriority: row,cell,column;
}
.chart07{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
         cellClass: chart_cell;
        
      	rowClasses: chart_row_empty,chart_row_line, chart_row_empty,chart_row_empty,chart_row_empty,chart_row_empty,chart_row_line,chart_row_empty,chart_row_line,chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col1;
		columnClassRotation: repeat;
 
        decorationPriority: row,cell,column;
}
.chart08{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
        cellClass: chart_cell;
        
      	rowClasses: chart_row_line,chart_row_empty,chart_row_line1,chart_row_empty,chart_row_line1,chart_row_empty,chart_row_line1,chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col1,chart_col1,chart_col1,chart_col1,chart_col1,chart_col_line1
		columnClassRotation: repeatlast;
 
        decorationPriority: cell,row,column;
}
.chart09{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
        cellClass: chart_cell;
        
      	rowClasses: chart_row_line,chart_row_empty,chart_row_line1,chart_row_empty,chart_row_line1,chart_row_empty,chart_row_line1,chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col1,chart_col1,chart_col1,chart_col1,chart_col1,chart_col_line1
		columnClassRotation: repeatlast;
 
        decorationPriority: cell,row,column;
}
.chart10{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
        cellClass: chart_cell;
        
      	rowClasses: chart_row_line,chart_row_empty,chart_row_line1,chart_row_empty,chart_row_line1,chart_row_empty,chart_row_line1,chart_row_empty,chart_row_line1,chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col1,chart_col1,chart_col1,chart_col1,chart_col1,chart_col1,chart_col_line1
		columnClassRotation: repeatlast;
 
        decorationPriority: cell,row,column;
}
.chart11{
        background-style: none;
        border-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
        columnWidths: auto;
        
        cellClass: chart_cell;
        
      	rowClasses: chart_row_line,chart_row_empty,chart_row_line,chart_row_empty,chart_row_line,chart_row_empty,chart_row_line,chart_row_empty,chart_row_line,chart_row_empty;
      	rowClassRotation: repeatlast;
      	
		columnClasses: chart_col1;
		columnClassRotation: repeat;
 
        decorationPriority: row,cell,column;
}
td.chart_cell {
		align: center;
		border-left-style:none;
		border-top-style:none;
		border-right-style: none;
		border-bottom-style:none;
		}
col.chart_col1{
		border-left-style:none;
		border-top-style:none;
		border-right-style: none;
		border-bottom-style:none;
		background-style: none;		
	}
tr.chart_row_empty {
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: none;
		background-style: none;		
}
tr.chart_row_line {
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: solid;
		border-color: #000000;
		background-style: none;		
}
tr.chart_row_line1 {
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: none;
		border-color: #000000;
		background-style: none;		
}
td.chart_row_line1{
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: solid;
		border-color: #000000;
		background-style: none;	
}		
td.chart_col_line1{
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
		border-bottom-style: solid;
		border-color: #ffffff;
		background-style: none;	
}		


/* -'^'-.,.-'^'-.,.-'^'-.,.-'^'- */
/* ============================= */
/* -.,.-'^'-.,.-'^'-.,.-'^'-.,.- */

#shape_i1 {
border-top-left-radius: 15 15;
}
#shape_i2 {
border-top-right-radius: 15 15;
}
#shape_g1 {
border-bottom-left-radius: 15 15;
}
#shape_g2 {
border-bottom-right-radius: 15 15;
}
#shape_footer {
border-top-right-radius: 15 15;
}

#curiosity_bg{
	background-style:solid;
	background-color: #e6ed84;
}
#definition_bg{
	background-style:solid;
	background-color: #ACC8E0;
}

teacherPanel {
	interface: url(teacher_panel.utp);
	texttoolbar-interface: url(texttoolbar.utp);
	marker-thickness-factor: 5;
}

colorPicker{
	border: solid;
	border-color: blue;
	colors: red blue green;
	default-color: red;
}

colorPicker:list{
	background: solid;
	background-color: blue;
	border: solid;
	border-color: green;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

colorPicker:item{
	src: url("colorpicker_item.swf");
	icon: url("colorpicker_icon.swf");
}

colorPicker:preview{
	src: url("colorpicker_preview.swf");
	icon: url("colorpicker_icon.swf");
}

labellingInteraction{
	labels-position: bottom;
	line-color: #000000;
	line-thickness: 2;
	start-point-type: none;
	end-point-type: none;
	labels-gap: 3; 
    labels-padding: 3; 
    gap-size-align: longest; 
}

thicknessPicker{
	thickness: 1 2 3;
}

thicknessPicker:item{
	icon-padding-top: 7;
	icon-padding-bottom: 7;
	icon-padding-left: 7;
	icon-padding-right: 7;
	src: url("colorpicker_item.swf");
}
thicknessPicker:preview{
	icon-padding-top: 7;
	icon-padding-bottom: 7;
	icon-padding-left: 7;
	icon-padding-right: 7;
	src: url("colorpicker_item.swf");
}

dictionaryIndexSwitcher{
	buttons-in-row: auto;
}

dictionaryItemList{
	background: solid;
	background-color: blue;
	background-alpha: 0.2;
	border-style: solid;
	border-color: red;
	padding-left: 7;
	padding-top: 7;
	padding-right: 7;
	padding-bottom: 7;
}

dictionaryItemList:item{
	text-over-color: green;
	text-selected-color: yellow;
	over-color: #24FD4F;
	selected-color: #00CC33;
}

dictionaryItemList:view{
	background: solid;
	background-color: yellow;
}

dictionaryItemList:vscroll{
	background: solid;
	background-color: white;
}

dictionaryItemList:vscroll:upArrow{
	border: solid;
	border-color: red;
}

dictionarySearch{
	padding-left: 15;
}

dictionarySearch:text{
	border: solid;
	border-color: blue;
}