/** Add css rules here for your application. */

.qp-player{
	padding: 5px;
	width:460px;
}

.qp-error{
	color:	red;
}
	
.qp-header{
	width:	100%;
	background-color: silver;
	padding: 4px;
	font-size: 120%;
}

.qp-assessment-title{
}

.qp-page-counter{
	float:right;
}
.qp-page-counter-list{

}
.qp-page-counter-count{
	float:right;
}

.qp-body{
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.qp-item-body {

}

.qp-item-title{
	font-style: italic;
	margin-bottom: 5px;
}

.qp-feedback{
	background-color: white;
	border:1px solid black;
}

.qp-feedback-hidden{
	background-color: white;
}

.qp-footer{
	width:	100%;
	height:20px;
	background-color: silver;
	margin-top: 10px;
	padding: 6px 2px;
}

.qp-footer-buttons{
	width:	100%;
	float: none;
}

.qp-check-button{
	float:left;
	width:70px;
	height:20px;
	margin-left: 6px;
	cursor:pointer;
	background-image:url(images/btn_check.png);
}
.qp-check-button-up-hovering{
	background-image:url(images/btn_check_uh.png);
}
.qp-check-button-down-hovering{
	background-image:url(images/btn_check_dh.png);
}
.qp-check-button-up-disabled{
	background-image:url(images/btn_check_dis.png);
}

.qp-reset-button{
	float:left;
	width:70px;
	height:20px;
	margin-left: 6px;
	cursor:pointer;
	background-image:url(images/btn_reset.png);
}
.qp-reset-button-up-hovering{
	background-image:url(images/btn_reset_uh.png);
}
.qp-reset-button-down-hovering{
	background-image:url(images/btn_reset_dh.png);
}
.qp-reset-button-up-disabled{
	background-image:url(images/btn_reset_dis.png);
}


.qp-prev-button{
	float:left;
	width:70px;
	height:20px;
	margin-left: 6px;
	cursor:pointer;
	background-image:url(images/btn_prev.png);
}
.qp-prev-button-up-hovering{
	background-image:url(images/btn_prev_uh.png);
}
.qp-prev-button-down-hovering{
	background-image:url(images/btn_prev_dh.png);
}
.qp-prev-button-up-disabled{
	background-image:url(images/btn_prev_dis.png);
}


.qp-next-button{
	float:left;
	width:70px;
	height:20px;
	margin-left: 6px;
	cursor:pointer;
	background-image:url(images/btn_next.png);
}
.qp-next-button-up-hovering{
	background-image:url(images/btn_next_uh.png);
}
.qp-next-button-down-hovering{
	background-image:url(images/btn_next_dh.png);
}
.qp-next-button-up-disabled{
	background-image:url(images/btn_next_dis.png);
}

.qp-finish-button{
	float:left;
	width:70px;
	height:20px;
	margin-left: 6px;
	cursor:pointer;
	background-image:url(images/btn_finish.png);
}
.qp-finish-button-up-hovering{
	background-image:url(images/btn_finish_uh.png);
}
.qp-finish-button-down-hovering{
	background-image:url(images/btn_finish_dh.png);
}
.qp-finish-button-up-disabled{
	background-image:url(images/btn_finish_dis.png);
}


.qp-summary-button{
	float:left;
	width:70px;
	height:20px;
	margin-left: 6px;
	cursor:pointer;
	background-image:url(images/btn_summary.png);
}
.qp-summary-button-up-hovering{
	background-image:url(images/btn_summary_uh.png);
}
.qp-summary-button-down-hovering{
	background-image:url(images/btn_summary_dh.png);
}
.qp-summary-button-up-disabled{
	background-image:url(images/btn_summary_dis.png);
}

/**
 * TextModule styles
 */
.qp-text-module{
	margin-top: 5px;
}

.qp-text-textentry-correct{
	padding-left: 20px;
	background: url(images/correct_icon.png) no-repeat left center;
}

.qp-text-textentry-wrong{
	padding-left: 20px;
	background: url(images/wrong_icon.png) no-repeat left center;
}

.qp-text-choice-correct{
	padding-left: 20px;
	background: url(images/correct_icon.png) no-repeat left center;
}

.qp-text-choice-wrong{
	padding-left: 20px;
	background: url(images/wrong_icon.png) no-repeat left center;
}



/** 
 * ChoiceModule styles 
 */
.qp-choice-module{
	margin-top: 5px;
}

.qp-choice-prompt{
	font-weight: bold;
}

.qp-choice-option{
	margin-left: 20px;
}

.qp-choice-selected-correct{
	margin-left: -20px;
	padding-left: 20px;
	background: url(images/correct_icon.png) no-repeat left center;
}

.qp-choice-selected-wrong{
	margin-left: -20px;
	padding-left: 20px;
	background: url(images/wrong_icon.png) no-repeat left center;
}

.qp-choice-notselected-correct{
}

.qp-choice-notselected-wrong{
}

.qp-choice-feedback-correct{
	color:#00ff00;
}
.qp-choice-feedback-wrong{
	color:#ff0000;
}

/** 
 * ObjectModule styles 
 */
.qp-video{
	background-color: white;
}

.qp-test-container{
	background-color: #ddd;
	border:1px solid #ff0;
	padding: 0px;
	gap: 10px;
}
.qp-test-element{
	background-color: #72e;
	border:1px solid #f00;
	margin:0x;
	width:50px;
	height: 50px;
}


/** 
 * OrderModule styles 
 */
.qp-order-container{
	border:0px solid #ff0;
	width:400px;
	height:64px;
	padding-left:1px;
	gz:e;
}
.qp-order-option{
	border:1px solid #ddd;
	margin:0x;
	width:100px;
	height: 50px;
	
	vertical-align:middle;
}

.qp-order-option-content{
	vertical-align:middle;
	text-align:center;
	width:100%;
	height:100%;
}
.qp-order-option-cover{
	background:url(images/transparent.gif) repeat;
	width:100px;
	height: 50px;
	margin: 0px;
	border:none;
}

.qp-order-option-content-correct{
color:#00FF00;
}
.qp-order-option-content-wrong {
color:#990000;
}

/**
 * Result Page
 */
.qp-resultpage-container{
}
.qp-resultpage-items{
}
.qp-resultpage-item-title{
}
.qp-resultpage-item-title-hover{
	cursor:pointer;
	cursor:hand;
	text-decoration:underline;
}
.qp-resultpage-score{
	font-weight:bold;
}


/*
 * MATCH
 */
.qp-match-module{
}
.qp-match-container{
}
.qp-match-container-layout{
	width: 420px;
	margin:10px 0px;
}
.qp-match-area-container{
}
.qp-match-area-container2{
}
.qp-match-area-container-cover{
	background:url(images/transparent.gif) repeat;
}
.qp-match-area-container-land{
	background:url(images/transparent.gif) repeat;
}
.qp-match-area-container{
	width:420px;
}
.qp-match-left-container{
}
.qp-match-element-left-container{
	width:140px;
	height:40px;
	float:right;
}
.qp-match-element-left-text-container{
	width:110px;
	height:30px;
	padding-top:10px;
	padding-right:10px;
}
.qp-match-element-left-text{
	float:right;
}
.qp-match-element-left-slot{
	background-image:url(images/slot.png);
	width:20px;
	height:40px;
}

.qp-match-right-container{
}
.qp-match-element-right-container{
	width:200px;
	height:40px;
}
.qp-match-element-right-text-container{
	width:170px;
	height:30px;
	padding-top:10px;
	padding-left:10px;
}
.qp-match-element-right-text{
}
.qp-match-element-right-slot{
	background-image:url(images/slot.png);
	width:20px;
	height:40px;
}
.qp-match-element-cover-svg{
	stroke-width: 0;
	fill-opacity: 0;
}
.qp-match-element-cover-vml{
	_stroke-width: 0;
	_fill-opacity: 0;
}
.qp-match-slot-bait{
	width: 20px;
	height: 20px;
}
.qp-match-slot-outer-svg{
	fill: green;
	stroke-width: 0;
}
.qp-match-slot-outer-vml{
	behavior:url(#default#VML);
	fillcolor: green;
	strokewidth: 0;
}
.qp-match-slot-inner-svg{
	fill: white;
	stroke-width: 0;
}
.qp-match-slot-inner-vml{
	_fill-color: white;
	_stroke-width: 0;
}
.qp-match-area-dragline-svg{
	stroke-width: 2;
}
.qp-match-area-line-svg{
	stroke-width: 2;
}
.qp-match-area-line-correct-svg{
	stroke-width: 2;
	stroke: green;
}
.qp-match-area-line-wrong-svg{
	stroke-width: 2;
	stroke: red;
}