/** Add css rules here for your application. */


.qp-player{
	padding: 5px;
	width: 100%;
}
	
	
.qp-header{
	width:	100%;
	background-color: lightgrey;
	padding: 4px;
	font-size: 120%;
}

.qp-assessment-title{
}

.qp-page-counter{
	width:	100%;
	text-align:right;
}

.qp-body{
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.qp-item-title{
	font-style: italic;
	margin-bottom: 5px;
}

.qp-feedback{
	background-color: white;
}

.qp-footer{
	margin-top: 10px;
	padding: 4px;
}

.qp-check-button{
}

.qp-next-button{
}

.qp-finish-button{
}


/**
 * TextModule styles
 */
.qp-text-module{
	margin-top: 5px;
}

.qp-text-textentry-correct{
	padding-left: 20px;
	background: url(images/correct_icon.png) no-repeat left center;
}

.qp-text-textentry-wrong{
	padding-left: 20px;
	background: url(images/wrong_icon.png) no-repeat left center;
}

.qp-text-choice-correct{
	padding-left: 20px;
	background: url(images/correct_icon.png) no-repeat left center;
}

.qp-text-choice-wrong{
	padding-left: 20px;
	background: url(images/wrong_icon.png) no-repeat left center;
}



/** 
 * ChoiceModule styles 
 */
.qp-choice-module{
	margin-top: 5px;
}

.qp-choice-prompt{
	font-weight: bold;
}

.qp-choice-option{
	margin-left: 20px;
}

.qp-choice-selected-correct{
	margin-left: -20px;
	padding-left: 20px;
	background: url(images/correct_icon.png) no-repeat left center;
}

.qp-choice-selected-wrong{
	margin-left: -20px;
	padding-left: 20px;
	background: url(images/wrong_icon.png) no-repeat left center;
}

.qp-choice-notselected-correct{
}

.qp-choice-notselected-wrong{
}
