/** Add css rules here for your application. */

.gwt-TreeItem{
	cursor: pointer; 
}
	
.gwt-TreeItem-selected{
	background-color: silver; 
}
	
body{
	padding:	4px;
}

.qe-editor{
	background-color: yellow;
	width: 100%;
}

.qe-toolbar{
	background-color: lightblue;
	padding: 	4px;
}

.qe-split-panel{
	background-color: #cccccc;
	padding: 	4px;
}

.qe-item-list{
	background-color: white;
}

.qe-item-editor{
	border: solid 1px #b7bd9b;
	background-color: white;
	padding: 2px 2px 0px 2px;
	width: 100%;
}

.qe-a-item{
	background-color: #f1f4e3;
	margin-bottom: 1px;
	width: 100%;
}

.qe-a-item-title{
	background-color: #f1f4e3;
	margin-bottom: 1px;
	width: 60px;
	padding-left: 2px;
}

.qe-a-item-title-bold{
	font-weight: bold;
}

.qe-a-item-title-head{
	background-color: #c8ccb3;
	font-weight: bold;
}

.qe-a-item-head{
	background-color: #c8ccb3;
	margin-bottom: 1px;

	font-weight: bold;
	padding-left: 2px;
}

.qe-a-item-field{
	padding-left: 2px;
	#display:inline-block;
	border: solid 1px #b7bd9b;
	background-color: white;
	width: 99%;
}

.qe-a-item-textbox{
	border: solid 1px #c0c3b0;
	width: 99%;
}

.qe-page-body{
	width:100%;
}
	
.debug{
	background-color: red;
	border: solid 1px #000000;
}	
	