/** Add css rules here for your application. */

.qe-editable-label{
	background-color: white;
	border:1px solid black;
	padding: 2px;
}
	
	
.qe-item-editor{
	background-color: yellow;
}

.qe-toc{
	background-color: white;
}

.qe-toolbar{
	left:	4px;
	right: 4px;
	background-color: lightblue;
	padding: 4px;
	width: 100%;
}

.qe-module-table{
	width:	100%;
}

.qe-module-panel{
	padding: 10px;
}

.debug{
	background-color: red;
}	
	