/** Add css rules here for your application. */

.gwt-TreeItem{
	cursor: pointer; 
}
	
.gwt-TreeItem-selected{
	background-color: silver; 
}
	
body{
	padding:	4px;
}

.qe-editor{
	background-color: yellow;
	width: 100%;
}

.qe-toolbar{
	background-color: lightblue;
	padding: 	4px;
}

.qe-split-panel{
	background-color: #cccccc;
	padding: 	4px;
}

.qe-item-list{
	background-color: white;
}

.qe-item-editor{
	margin:	4px;
	width: 100%;
}

.qe-page-title{
	background-color: gray;
	padding: 4px;
	margin-bottom: 8px;
	vertical-align: bottom;
}
	
.debug{
	background-color: red;
}	
	