/** Add css rules here for your application. */


.qp-player{
	padding: 5px;
	width: 100%;
}
	
	
.qp-header{
	background-color: lightgrey;
	padding: 4px;
	font-size: 120%;
}

.qp-body{
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.qp-feedback{
	background-color: lightgreen;
}

.qp-checkbutton{
}

.qp-footer{
	margin-top: 10px;
	background-color: lightgrey;
	padding: 4px;
	font-size: 120%;
}


/**
 * TextModule styles
 */
.qp-text-module{
	margin-top: 5px;
}


/** 
 * ChoiceModule styles 
 */
.qp-choice-module{
	margin-top: 5px;
}

.qp-choice-prompt{
	font-weight: bold;
}

.qp-choice-option{
	margin-left: 20px;
}
