/** Add css rules here for your application. */


.qp-player{
	padding: 5px;
	width: 100%;
}
	
	
.qp-header{
	background-color: lightgrey;
}

.qp-body{
	background-color: lightblue;
}

.qp-feedback{
	background-color: lightgreen;
}

.qp-footer{
	background-color: lightgrey;
}
