/* CSS file */


global {
  font-size: 14;
}

.startview {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #ffbbbb;
	horizontal-align: center;
}

.pageview {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	horizontal-align: left;
}

.resultview {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #bbbbff;
	horizontal-align: center;
}

.pageheader {
	background-color: #ffffcc;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	horizontal-align: center;
}

.pagebody {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.pagefooter {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}

.prompt{
  font-weight:	bold;
}

.simplechoice{
  padding-left: 10px;
}

.resultgrid {
	background-color: white;
}

.resultgridheader {
  font-weight:	bold;
}


